<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cajamarca.nivel">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.hardware.sensor.accelerometer" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.cajamarca.nivel.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.cajamarca.nivel.main.nivel.NivelEmpezarAhoraActivity"
            android:parentActivityName="com.cajamarca.nivel.main.MainActivity"
            />

        <activity android:name="com.cajamarca.nivel.main.qr.QREmpezarAhoraActivity"
            android:parentActivityName="com.cajamarca.nivel.main.MainActivity"
            android:theme="@style/AppTheme2"
            />

        <activity android:name="com.cajamarca.nivel.main.nivel.NivelSelectActivity"
            android:parentActivityName="com.cajamarca.nivel.main.nivel.NivelEmpezarAhoraActivity"
            />

        <activity android:name="com.cajamarca.nivel.main.qr.QRSelectActivity"
            android:parentActivityName="com.cajamarca.nivel.main.qr.QREmpezarAhoraActivity"
            android:theme="@style/AppTheme2"
            >
        </activity>

        <activity
            android:name="com.cajamarca.nivel.main.nivel.echado.NivelEchadoActivity"
            android:parentActivityName="com.cajamarca.nivel.main.nivel.NivelSelectActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.cajamarca.nivel.main.nivel.centrado.NivelCentradoActivity"
            android:parentActivityName="com.cajamarca.nivel.main.nivel.NivelSelectActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.cajamarca.nivel.main.qr.leer.CustomScannerActivity"
            android:theme="@style/AppTheme2"
            android:parentActivityName="com.cajamarca.nivel.main.qr.QRSelectActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>

        <activity android:name="com.cajamarca.nivel.main.qr.crear.CrearQRActivity"
            android:theme="@style/AppTheme2"
            android:parentActivityName="com.cajamarca.nivel.main.qr.QRSelectActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>

        <!-- intersticial-->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- adview-->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/appid_admob" />

    </application>

</manifest>